# <span style=color:brown;> Useful Operators </span>

## Compound Assignment Operators

Compound assignment operators in Python are used to **update the value of a variable by performing an operation and assigning the result back to the same variable** in a concise way.  

These operators combine arithmetic or bitwise operations with assignment (=).

**Addition assignment (+=)**

It adds the right-hand operand to the left-hand operand and assigns the result to the left-hand operand.

In [1]:
x = 5
x += 3  # Equivalent to x = x + 3
print(x)

8

**Subtraction assignment (-=)**
                          
It subtracts the right-hand operand from the left-hand operand and assigns the result to the left-hand operand.

In [2]:
x = 5
x -= 2  # Equivalent to x = x - 2
print(x)

3

**Multiplication assignment (*=)**

It multiplies the left-hand operand by the right-hand operand and assigns the result to the left-hand operand.

In [3]:
x = 4
x *= 2  # Equivalent to x = x * 2
print(x)

8

**Division assignment (/=)**

It divides the left-hand operand by the right-hand operand and assigns the result to the left-hand operand (result is always a float).

In [4]:
x = 10
x /= 2  # Equivalent to x = x / 2
print(x)

5.0

## Membership Operators

Membership operators in Python are used to check whether a value is present in a sequence (like a list, tuple, string, or set) or any other iterable.

There are two membership operators: in and not in. These operators return a Boolean value (True or False), depending on whether the element is found in the sequence.

**in Operator**

The in operator checks if a value exists in a sequence (like a list, string, or dictionary). If the value is present, it returns True; otherwise, it returns False.

In [8]:
# Using in with a list

fruits = ['apple', 'banana', 'cherry']

In [9]:
print('apple' in fruits)

True

In [10]:
'orange' in fruits

False

In [11]:
# Using in with a string
sentence = "Hello, world!"

In [15]:
'H' in sentence

True

In [12]:
'Hello' in sentence

True

In [13]:
'world' in sentence

True

In [14]:
'Python' in sentence

False

In [16]:
# Using in with a dictionary
# When used with a dictionary, in checks for the presence of a key, not a value.
person = {'name': 'Alice', 'age': 25}

In [17]:
'name' in person

True

In [18]:
'Alice' in person

False

**not in Operator**

The not in operator checks if a value does not exist in a sequence. If the value is not present, it returns True; otherwise, it returns False.

In [19]:
fruits = ['apple', 'banana', 'cherry']
print('orange' not in fruits)
print('banana' not in fruits)

True
False

**When to Use Membership Operators:**

Search for elements in a sequence: Check whether an item exists in a list, string, or set.

Check if a key exists in a dictionary: Use the in operator to see if a key is present in a dictionary.

**Important Points:** 

The in and not in operators are very efficient and concise ways to check for membership in sequences.

These operators are case-sensitive when used with strings (e.g., 'Hello' in 'hello' would return False).

For dictionaries, membership operators work only with keys, not values.

These operators are very common and useful in Python, especially when working with data structures like lists, dictionaries, and sets.

### Commonly used built-in functions in Python

**range()**

The range() function generates a sequence of numbers, often used in loops. It can take 1, 2, or 3 arguments: start, stop, and step.

In [21]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [20]:
for i in range(5):  # Starts at 0, ends at 4 (stop is exclusive)
    print(i)

0
1
2
3
4

**enumerate()**

The enumerate() function adds a counter to an iterable (like a list) and returns it as an enumerated object.

It’s commonly used when you need both the index and the value from an iterable in a loop.

In [23]:
fruits = ['apple', 'banana', 'cherry']

In [26]:
list(enumerate(fruits))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [29]:
list(enumerate(fruits, start=1))

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]

In [28]:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apple
2 banana
3 cherry

**zip()**

The zip() function combines two or more iterables (e.g., lists, tuples) and returns a zip object with paired elements from each iterable.

Syntax: zip(*iterables)

In [30]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
combined = zip(names, ages)

In [32]:
list(combined)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [33]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
combined = zip(names, ages)
for name, age in combined:
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

**min()**

The min() function returns the smallest item from an iterable or from multiple arguments.

In [34]:
numbers = [4, 2, 8, 1, 5]

min(numbers)

1

In [36]:
print(min(10, 20, 5, 30))

5

**max()**

The max() function returns the largest item from an iterable or from multiple arguments.

In [38]:
numbers = [4, 2, 8, 1, 5]
print(max(numbers))

8

In [39]:
print(max(10, 20, 5, 30))

30

**sum()**

The sum() function returns the total sum of all elements in an iterable (e.g., list, tuple).

In [40]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

**type()**

The type() function returns the type of the object passed as an argument

In [41]:
x = 10
print(type(x))

y = [1, 2, 3]
print(type(y))

<class 'int'>
<class 'list'>

#### random Module

The random module provides functions to generate random numbers and perform random actions, such as shuffling items or selecting random items from a list.

**random.randint()** (random integer in a range)

In [43]:
import random

In [42]:
print(random.randint(1, 10)) # Outputs a random integer between 1 and 10

3

**random.choice()** (random item from a list)

In [49]:
choices = ['red', 'blue', 'green']
print(random.choice(choices))  # Outputs a random color from the list

green

**random.shuffle()** (shuffles a list in place)

In [45]:
deck = [1, 2, 3, 4, 5]
random.shuffle(deck)
print(deck)  # Deck is shuffled randomly

[5, 2, 3, 4, 1]

***